// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Inter";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:#3830D9;
$scondary:#159E12;
$tertiary:#094208;
$text-primary:#ffffff;
