// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Inter";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$green:#37B052;
$primary:#3830D9;
$secondary:#37B052;
$tertiary:#1E612D; //#094208;
$text-primary:#ffffff;

$text-tertiary:$tertiary;