@mixin icon-shadow {
    text-shadow: 0 0 5px #00000080;
    -webkit-text-shadow: 0 0 5px #00000080;
    -moz-text-shadow: 0 0 5px #00000080;
    -ms-text-shadow: 0 0 5px #00000080;
    -o-text-shadow: 0 0 5px #00000080;

}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt"0;
    background: var(--Lightest, #F5F3F1) !important;
}

* {
    font-family: 'Inter';
    font-weight: 400;
}

@supports (font-variation-settings: "wght"450) {
    * {
        font-family: 'Inter';
        font-weight: 450;
    }
}

.title-banner {
    @media screen and (max-width: 500px) {
        font-size: 18px !important;
    }
}

.header-icon-filter {
    font-size: 18px !important;
}

.input-terrazon {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    animation: fade-in 1s ease-in-out;
}

/* Animación de desvanecimiento */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.carousel-over-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 9999;

    h1 {
        color: white;
        font-size: 48px;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5), 2px 2px 9px #000000;
    }

    label {
        color: #231D46;
        size: 13px;
        font-weight: 600;
        padding-left: 10px;
    }

    .card {
        .item {
            padding: 14px;
        }

        select {
            border: none;
            font-size: 11px;
            color: #8F8F8F;
        }
    }

    .btn-primary {
        font-size: 14px;
        border-radius: 6px;
        padding: 5px 25px;
        background-color: #159E12 !important;
        border: none !important;
    }

    .item {
        position: relative;

        .item-content {
            margin-left: 14px;
        }
    }

    .item:nth-child(2),
    .item:nth-child(3),
    .item:nth-child(4) {
        &::before {
            position: absolute;
            left: 0;
            content: '';
            height: 60px;
            width: 1px;
            background-color: #C3C3C3;
        }
    }
}

.title {
    font-weight: 600;
    color: #231D46;
    font-size: 32px;
}

.subtitle {
    font-weight: 200;
    color: #231D46;
    font-size: 16px;

}

.min-content {
    min-height: 300px;
}

.card-property {

    width: 411px !important;
    border: none !important;
    border-radius: 5px;

    .icon-fav {
        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 16px;

        .fa-circle {
            color: #ffffff;
        }
    }

    .btn-detalle {
        font-size: 12px;
        padding: 10px 30px;
    }

    .card-body {
        position: relative;
        padding-top: 42px;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .price {
            position: absolute;
            left: 0;
            top: 0;
            padding: 16px;
            background-color: #7AE582;
            height: 33.62px;
            display: flex;
            align-items: center;
            color: #231D46;
            font-size: 16px;
            font-weight: 800;
            white-space: nowrap;
        }

        .area {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
        }

        .card-title {
            font-size: 20px;
            font-weight: 600;
            color: #231D46;
        }

        .card-text {
            font-size: 11px;
            font-weight: 400;
            margin-bottom: 0;
        }

        .card-location {
            color: #1E612D;
            font-size: 11px;
            font-weight: 500;

            img {
                height: 11px;
            }
        }
    }

    .btn-primary {
        background-color: #37B052;
        border: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            height: 18px;
        }

        .detail-icon {
            width: 25px !important;

            img {
                height: 100%;
            }

            text-align: center;
        }

        .detail-text {
            font-size: 11px;
            color: #231D46;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 500px) {
        width: 90% !important;
    }

    // @media screen and (max-width: 500px) {
    //     width: 400px !important;
    // }
}


.owl-stage-outer {
    padding-left: 10px;
}
@media screen and (max-width: 500px) {
    .owl-carousel {
        .owl-stage-outer {
            padding-left: 15px;
        }
    }
    .mobile-conteiner {
        padding: 0 !important;
    }
}


.carousel-indicators {
    margin-bottom: 2rem !important;
    z-index: 9999 !important;

    button {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50%;
        opacity: 1 !important;

        &.active {
            background-color: $primary !important;
        }
    }
}

.carousel-container {
    position: relative;

    .car-nav {
        z-index: 999;
        top: 50%;
        position: absolute;
        cursor: pointer;
        @include icon-shadow;

        .icon-nav {
            font-size: 16px;
        }

        .fa-circle {
            color: $primary;
        }
    }

    .car-back {
        left: 0;
    }

    .car-next {
        @media screen and (min-width: 501px) {
            right: -10px;
        }

        @media screen and (max-width: 500px) {
            right: 40px;
        }
    }
}

.info-stack {
    font-size: 24px;

    .fa-circle {
        color: #A3DBAF;
    }
}

.info-title {
    font-size: 18px;
    font-weight: 600;
}

.info-description {
    font-size: 14px;
}

.bg-divisor {
    background-color: #5FC075;
    background-image: url('../images/bg-image-divisor.png');
    background-repeat: no-repeat;
    background-size: 40%;

    .input-group {
        background-color: white;
        padding: 8px;
        border-radius: 5px;

        input {
            border: none;
            font-size: 14px;
        }
    }

    .btn-primary {
        background-color: #4a5cc4;
        border-color: #4a5cc4;
    }

    .form-control {
        border-radius: 0;
        border: none;
    }
}



.carousel-progress-bar {
    width: 100%;
    height: 9px;
    border-radius: 4px;
    background-color: #e0e0e0;
    position: relative;
    margin-top: 14px;
    overflow: auto;
}

.my-progress {
    height: 9px;
    border-radius: 4px;
    width: 0;
    background-color: $primary;
    transition: width 0.3s;
}