.section-01 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #2d2549;
  overflow: hidden;
  z-index: 0;
}
.section-01 .semicircle {
  position: absolute;
  width: 120%;
  height: 720px;
  background-color: white;
  border-bottom: 43px solid #1E612D;
  border-bottom-right-radius: 100%;
  right: -10%;
  z-index: -1;
}
@media screen and (min-width: 920px) {
  .section-01 .semicircle {
    height: 500px;
  }
}

.section-03 {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: auto;
  background-color: #2d2549;
  overflow: hidden;
  z-index: 0;
  color: white;
}
.section-03 .content-margin {
  margin-top: 5px;
  padding-bottom: 2rem;
}
@media screen and (min-width: 920px) {
  .section-03 .content-margin {
    margin-top: 100px;
  }
}
.section-03 .semicircle {
  position: absolute;
  width: 250%;
  height: 1000px;
  background: linear-gradient(to right, #2d2549 100%, #37B052 100%);
  background: rgb(45, 37, 73);
  background: linear-gradient(180deg, #2d2549 0%, #37b052 100%);
  border-top: 30px solid #37B052;
  border-top-left-radius: 60%;
  border-top-right-radius: 50%;
  z-index: -1;
  left: -10%;
}
@media screen and (min-width: 920px) {
  .section-03 .semicircle {
    width: 150%;
  }
}

.section-02 {
  background-color: #2d2549;
  color: white;
}

.img-persona {
  width: 80%;
}
@media screen and (min-width: 720px) {
  .img-persona {
    width: 100% !important;
  }
}

.image-persona-02 {
  background-color: white;
  border-radius: 50%;
}

.image-02 {
  padding: 30px;
  background: linear-gradient(to right, #37B052 50%, #2d2549 50%);
}

.fs-description {
  font-size: 18px;
}
